.sidebar {
  background: #283138;
  .custom-sidebar {
    margin-top: -3px;

    .ant-menu-item {
      > a {
        display: flex;
        align-items: center;
      }
    }
  }
}

.ant-menu-dark {
  background: #283138;
  .ant-menu-sub {
    background: #424a52 !important;
  }
}

