.main {
  background: rgba(240, 244, 245, 0.58);
}

.loading {
  width: 100px;
  height: 90px;
  margin: 0 auto;
}

// Here you can add other styles
@media (min-width: 992px) {
  .sidebar-fixed {
    .sidebar {
      width: 80px;
    }
  }
  .sidebar-lg-show {
    .sidebar {
      width: 200px;
    }
  }
  .sidebar-fixed {
    .main {
      margin-left: 80px;
    }
  }
  .sidebar-lg-show.sidebar-fixed {
    .main {
      margin-left: 200px;
    }
  }

  html:not([dir="rtl"]) .sidebar {
    margin-left: 0;
  }
}


